*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: "Kings", cursive;
}

header {
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 10;
}

.header_div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: end;
    padding: 4px;
    color: white;
    background-color: black;
    transition: all 0.3s ease-in-out;

}

.header_separator{
    color: rgb(199, 188, 28);
    transition: all 0.3s ease-in-out;
}

.tabs{
    width : 100%;
    height: 160px;
    display: flex;
    text-align: center;
    position: absolute;
    z-index:-10;
    pointer-events: none;
}

.base_tab{
    position: absolute;
    width: 20%;
    height: 100%;
    visibility: hidden;
    background-color: rgba(55, 55, 55, 0.95);
    color: white;
    cursor: pointer;
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
    pointer-events: none;
    align-content:space-evenly;
    transition: all 0.3s ease-in-out;
}
.tab_text{
    margin:6px;
}

.tab_text:hover{
    text-shadow: 1px 1px 20px white;
    transition: all 0.3s ease-in-out;
}

.card_tab {
    left: 245px;
}

.trade_tab {
    left: 415px;
}


.store_tab{
    left: 580px;
}

.contacts_tab{
    left: 770px;
}

.tab_reveal{
    visibility: visible;
    opacity: 1;
    transform: translateY(0); 
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: auto;
}

.logo_header img{
    object-fit: contain;
    width: 100%;
    height: 60px;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
}

.header_main_buttons{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.header_button{
    background-color: black;
    border : transparent;
    color : white  ;
    font-size: 35px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.header_button:hover{
    text-shadow: 1px 1px 30px white;
    transition: all 0.3s ease-in-out;
}

.header_account_buttons{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_login{
    color:white;
    background-color: black;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.header_login:hover{     
    text-shadow: 1px 1px 20px white;
    transition: all 0.3s ease-in-out;
}

.header_light_mode_button img {
    object-fit: contain;
    width: 100%;
    height: 50px;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer
}

main{
    width: 100%;
    height: 2500px;
    border-bottom: 10;
}

.headline{
    width: 100%;
    height: 900px;
    padding-top: 10px;
    text-align: center;
    object-fit: cover;
    background-color: rgb(30, 68, 38);
}

.headline_text{
    margin: 30px;
    color: rgb(199, 188, 28);
    transition: all 0.3s ease-in-out;
}

.headline_title{
    font-size: 50px;
}

.headline_subtext{
    font-size: 30px;
}



.headline_intro{
    width: 100%;
    height: 600px;
    margin: auto;
    margin-top: 60px;
    background: linear-gradient(
        to bottom,
        rgb(30, 68, 38, 0) 75%,
        rgb(30, 68, 38, 0.7) 85%,
        rgb(30, 68, 38) 100%
    ),url("headline_lotr_placeholder.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s ease-in-out;
}

.get_started_button{
    width: 160px;
    background-color: rgb(19, 75, 19);
    border: 5px solid rgb(18, 40, 18);
    border-radius: 10px;
    margin: auto;
    margin-top: 90px;
    cursor: pointer;
    color: white;
    font-size: larger;
    transition: all 0.3s ease-in-out;
}

@keyframes shake {  
    0%{
        transform: rotate(0deg)
    }
    25%{
        transform: rotate(-10deg)
    }
    50%{
        transform: rotate(0deg)
    }
    75%{
        transform: rotate(10deg)
    }
    100%{
        transform: rotate(0deg)
    }
    
}

.get_started_button:hover{
    background-color: rgb(23, 45, 28);
    transition: all 0.3s ease-in-out;
    animation: shake 0.2s ease 3;
}

.character_cards{
    width: 100%;
    height: 1600px;
    background : linear-gradient(
        to bottom,
        rgb(30, 68, 38) 0%,
        rgb(30, 68, 38,0.7) 10%,
        rgb(30, 68, 38,0) 20%
    ), url("sauron\ background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 0.3s ease-in-out;
}

.character_cards_headline{
    text-align: center;
    padding: 30px;
    font-size: 60px;
    color: rgb(199, 188, 28);
    transition: all 0.3s ease-in-out;
}


.char_duo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hero_card{
    width: 225px;
    height: 480px;
    margin: auto;
    align-items: center;

}

.hero_main_card{
    position: relative;
    height: 430px;
    border: 5px solid rgb(18, 40, 18);
    border-radius: 10px;
    background-color: rgb(19, 75, 19);
    text-align: center;
    padding:10px;
    transition: all 0.3S ease-in-out;
    z-index: 1;
    transition: all 0.3s ease-in-out;

}

.hero_main_card img{
    width: 100%;
    height: 250px;
    border: 3px solid rgb(18, 40, 18);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.hero_main_card p{
    padding: 5px;
    border: 5px double black;
    background-color: rgb(18, 40, 18);
    color: rgb(142, 210, 151);
    transition: all 0.3s ease-in-out;
}

.hero_main_card h3{
    color: white;
    transition: all 0.3s ease-in-out;
}

.hero_hover_button{
    color:white;
    border: 5px solid rgb(18, 40, 18);
    border-radius: 5px;
    text-align: center;
    background-color: rgb(19, 75, 19);
    opacity: 0;
    pointer-events: none;
    transform:translateY(10px);
    transition: all 0.3s ease-in-out;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
}

.hero_hover_button a{
    color: white;
}

.hero_card:hover .hero_main_card{
    transform: scale(0.95);
}

.hero_card:hover .hero_hover_button{
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
    transition: all 0.3s ease-in-out
}

.hero_hover_button:hover{
    background-color: rgb(24, 50, 24);
    transition: all 0.3s ease-in-out;
}

.villain_card{
    width: 225px;
    height: 480px;
    margin: auto;
    align-items: center;
}

.villain_main_card{
    position: relative;
    height: 430px;
    border: 5px solid rgb(40, 18, 18);
    border-radius: 10px;
    background-color: rgb(75, 19, 19);
    text-align: center;
    padding:10px;
    transition: all 0.3S ease-in-out;
}

.villain_main_card img{
    width: 100%;
    height: 250px;
    border: 3px solid rgb(40, 18, 18);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.villain_main_card p{
    padding: 5px;
    border: 5px double black;
    background-color: rgb(40, 18, 18);
    color: rgb(210, 142, 142);
    transition: all 0.3s ease-in-out;
}

.villain_main_card h3{
    color:white;
    transition: all 0.3s ease-in-out;
}

.villain_hover_button{
    color:white;
    border: 5px solid rgb(40, 18, 18);
    border-radius: 5px;
    text-align: center;
    background-color: rgb(75, 19, 19);
    opacity: 0;
    pointer-events: none;
    transform:translateY(10px);
    transition: all 0.3s ease-in-out;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
}

.villain_hover_button a{
    color: white;
    transition: all 0.3s ease-in-out;
}

.villain_card:hover .villain_main_card{
    transform: scale(0.95);
}

.villain_card:hover .villain_hover_button{
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}

.villain_hover_button:hover{
    background-color: rgb(50, 24, 24);
    transition: all 0.3s ease-in-out;
}



.footer_div{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    color: white;
    background-color: black;
    transition: all 0.3s ease-in-out;
}

.footer_logo img{
    object-fit: cover;
    width: 100px;
    height: 100px;
    transition: all 0.3s ease-in-out;
}

.footer_newsletter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.footer_newsletter input{
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: rgb(124, 124, 124);
    transition: all 0.3s ease-in-out;
}

.footer_socials{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.footer_socials .social_icon img{
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.x_icon{
    filter: invert(0);
    transition: all 0.3s ease-in-out;
}

.light_mode_for_black_and_white{
    color : black;
    background-color: white;
}

.light_mode_for_black_and_white_buttons{
    color: black;
    background-color: white;
}

.light_mode_for_black_and_white_buttons:hover {
    text-shadow: 1px 1px 30px black;
}

.light_mode_tabs{
    color : black;
    background-color: rgb(200,200,200,0.95);
}

.light_mode_tabs h3:hover{
    text-shadow: 1px 1px 20px black;
}

.light_mode_yellow_text{
    color: rgb(1, 65, 15);
    text-shadow: 1px 1px 30px white
}

.light_mode_headline{
    background-color: rgb(185, 181, 117);
}

.light_mode_gradient_headline{
    background: linear-gradient(
        to bottom,
        rgb(185, 181, 117, 0) 75%,
        rgb(185, 181, 117, 0.7) 85%,
        rgb(185, 181, 117) 100%
    ),url("headline_img_light_mode.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.light_mode_get_started{
    background-color: rgb(191, 179, 88);
    border: 5px solid rgb(146, 145, 69);
    color: black;
}

.light_mode_get_started:hover{
    background-color: rgb(235, 239, 121);
}

.light_mode_cards_gradient{
    background : linear-gradient(
        to bottom,
        rgb(185, 181, 117) 0%,
        rgb(185, 181, 117,0.7) 10%,
        rgb(185, 181, 117,0) 20%
    ), url("light_mode_sauron_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.light_mode_hero_card{
    border: 5px solid rgb(53, 118, 53);
    background-color: rgb(72, 164, 72);
}

.light_mode_hero_card p{
    border: 5px double white;
    background-color: rgb(53, 118, 53);
    color: rgb(1, 40, 6);
}

.light_mode_hero_card img{
    border: 3px solid rgb(53, 118, 53);
}

.light_mode_hero_card h3{
    color: black;
}

.light_mode_hero_button{
    color:white;
    border: 5px solid rgb(53, 118, 53);
    background-color: rgb(72, 164, 72);
}

.light_mode_hero_button a{
    color: black;
}

.light_mode_hero_button:hover{
    background-color: rgb(133, 222, 133);
}

.light_mode_villain_card{
    border: 5px solid rgb(126, 41, 41);
    background-color: rgb(167, 87, 87);
}

.light_mode_villain_card img{
    border: 3px solid rgb(126, 41, 41);
}

.light_mode_villain_card p{
    border: 5px double white;
    background-color: rgb(198, 77, 77);
    color: rgb(105, 50, 50);
}

.light_mode_villain_card h3{
    color: black;
}

.light_mode_villain_button{
    color:black;
    border: 5px solid rgb(126, 41, 41);
    background-color: rgb(167, 87, 87);
}

.light_mode_villain_button a{
    color: black;
}

.light_mode_villain_button:hover{
    background-color: rgb(245, 121, 121);
}

.light_mode_newsletter{
    background-color: black;
}

.light_mode_x_icon{
    filter : invert(1);
    transition: all 0.3s ease-in-out;
}
